<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (c) 2012 The Chromium Authors. All rights reserved.  Use of this
  source code is governed by a BSD-style license that can be found in the
  LICENSE file.
-->

<!--
File modified from the original to remove the package declaration with the
manifest, deprecated, and the setting of the SDK minimum version and target
version, which have no effect as they are defined in the build.gradle file
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
</manifest>
